<div class="container mx-auto w-full max-w-2xl mt-20">
  <h1>記事一覧</h1>
  <% if @articles.present? %>
    <%= render @articles %>
  <% end %>
  <%= link_to "新規作成", new_article_path, class: "btn btn-neutral mt-8" %>
</div>